body {
  font-family: courier-prime, monospace;
}
#landing {
  font-size: 18px;
  color: grey;
  width: 1000px !important;
  height: auto;
  margin-top: 10%;
  text-align: center;
  border:none;
}

h4 {
  font-size: 18px;
  color: orange;
}

#nav {
  font-size: 14px;
  color: yellow;
  height: auto;
  margin: 0px auto;
  padding: 50px;
  padding-top: 10px;
  text-align: center;
}

#nav a{
  color:#efb64e;
}

#nav a.hover {
  opacity:.6;
}

.logo {
  height: 100px;
  width: auto;
  border-radius: 100px;
  padding: 10px;
  margin: 0px auto;
  float: center;
}
