/* CSS EDITOR */

#lightbox_container
{
    display: block;
    height: 0;
    overflow: visible !important;
}

#lightbox_container .theme_editor_css_editor_lightbox_widget
{
    float: left;
    margin-top: 50px;
    height: calc(100% - 50px);
    width: 20vw !important;
    min-width: 220px;
    left: 0 !important;
    transform: none !important;
    box-shadow: revert;
    display: flex;
    flex-flow: column;
}

.input_wrapper
{
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 1.5vh !important;
}

.input_wrapper > textarea
{
    box-sizing: border-box;
    height: 100% !important;
    max-height: revert;
}

.theme_editor_css_editor_lightbox_widget > h2
{
    position: absolute;
    padding:10px !important;
    flex: 0 1 auto;
    margin-left: 2px !important;
}

.theme_editor_css_editor_lightbox_widget > button
{
    margin-left: auto;
    display: inline!important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding: 1em 1em 0 0;
}

.theme_editor_css_editor_lightbox_widget > p
{
    display: none;
}

#lightbox_shroud
{
    display: none !important;
}

.maximize_button
{
    position: absolute;
    visibility: hidden;
    right: 0;
    padding-right: 0px! important;
}

.maximize_button:before 
{
    content: "Open editor";
    visibility: visible;
    padding: 2px 6px;
    background: #fff !important;
    border-radius: 2px;
    border: 1px solid !important;
    border-color: #ccc !important;
}

.label_help > .button
{
    display: none;
}    

.css_editor > h3, .css_editor > textarea
{
    display: none;
}

/* ======================= */