<!DOCTYPE html>

<html class="no-js">
  {% include head.html %}
  <head><link rel="stylesheet" href="/_sass/includes/_landing.css"></head>
  <body>
    <div class="content">
          
      <div id="landing">
      <a href=""><img src="https://pbs.twimg.com/profile_images/999638781396307973/_SRJppSE_400x400.jpg" class="logo"></a>
        
      {{ content }}
        
      </div>
      
      <div id="nav">
        <a href="">fiction</a> | <a href="">about</a> | <a href="">reviews</a> | <a href="">contact</a>
      </div>
      
    </div>
    {% include footer.html %}
  </body>
</html>
